.alert-success{color:white;background-color:#007E33;border-color:#00C851;}.alert-warning{color:white;background-color:#FF8800;border-color:#ffbb33;}.alert-danger{color:white;background-color:#CC0000;border-color:#ff4444;}.alert-dismissible .close{opacity:0.6;}
.affix{position:fixed;width:100%;top:0;z-index:1035;left:0;}
